# Logging
LOG_LEVEL=INFO

# RabbitMQ (shared connection)
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_INFERENCE_EXCHANGE_NAME=cognibrew.inference
RABBITMQ_INFERENCE_QUEUE_NAME=cognibrew.inference.face_embedded
RABBITMQ_FACE_EMBEDDED_ROUTING_KEY=face.embedded
RABBITMQ_FACE_RECOGNIZED_ROUTING_KEY=face.recognized
# Face Update (cloud --> vectordb)
RABBITMQ_FACE_UPDATE_EXCHANGE_NAME=cognibrew.vectordb
RABBITMQ_FACE_UPDATE_QUEUE_NAME=cognibrew.vectordb.face_updated
RABBITMQ_FACE_UPDATE_ROUTING_KEY=face.updated

# Qdrant (USE grpc)
QDRANT_HOST=localhost
QDRANT_PORT=6334
QDRANT_COLLECTION_NAME=face_embeddings
QDRANT_EMBEDDING_DIM=512

# Model
MODEL_SIMILARITY_THRESHOLD=0.65
